Track List
<h2>{{ model.title }}</h2>

<ul>
    {{#each model.tracks as |track|}}
      <li>{{track.artist}} - {{track.title}}</li>
    {{else}}
        <li>No track lists found</li>
    {{/each}}
</ul>

{{outlet}}
